{%load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오름 올래?</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>
<body>
    <header class="global-header">
        <div class="header-wrapper flex-row">
            <a class="logo" href="/">
                <h1>오름 올래?</h1>
            </a>
            <div class="header-menu flex-row">
                <ul class="header-menu__ul flex-row">
                    <li class="header-menu__link">
                        <a href="/about">서비스 소개</a>
                    </li>
                    <li class="header-menu__link">
                        <a href="list">오름들</a>
                    </li>
                    <li class="header-menu__link">
                        <a href="create">오름 등록</a>
                    </li>
                </ul>
                <form action="/list/" class="search-oreum-form">
                    <div class="search-input-wrapper flex-row">
                        <input type="search" class="search-input" placeholder="찾고 싶은 오름" name="search" />
                        <img src="{% static 'icons/medium-search.svg' %}" class="search-img" alt="검색 버튼" />
                    </div>
                </form>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock content %}

    {% block js %}
    {% endblock js %}
</body>
</html>