{% extends "main/base.html" %}
{% block content %}
{% load static %}
<article class="content-area">
    <header>
        <h1 class="content-area__title">동검은이오름 상세페이지</h1>
    </header>
    <!-- 이미지 캐러셀 + 자동 무한슬라이딩 구현예정 -->
    <section class="oreum-list">
        <img src="{% static 'images/sample.png' %}" class="oreum-list--big" alt="오름 사진" />
        <div class="oreum-list flex-col">
            <div class="oreum-list__info flex-col">
                <div class="oreum-list__box flex-row">
                    <h2 class="oreum-list--title">동검은이오름</h2>
                    <div class="flex-row">
                        <div class="oreum-list--tag">경사 완만</div>
                        <div class="oreum-list--tag">야경 좋음</div>
                    </div>
                </div>
                <div class="oreum-list__box flex-row">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore blanditiis ipsam eveniet optio, unde, quas est vero enim ex, illum eum sapiente tempore! Officia repudiandae ut modi distinctio, rem porro!</p>
                </div>
                <div class="oreum-list__box flex-row">
                    <img src="{% static 'icons/location.svg' %}" alt="오름 위치 지역" />
                    <span>Jeju-si</span>
                </div>
                <div class="oreum-list__box flex-row">
                    <img src="{% static 'icons/phone.svg' %}" alt="전화번호" />
                    <span>010-1111-2222</span>
                </div>
                <div class="oreum-list__box flex-row">
                    <img src="{% static 'icons/instagram.svg' %}" alt="인스타그램 URL" />
                    <span>instagram url</span>
                </div>
            </div>
        </div>
    </section>
</article>

<!-- 댓글 시작 -->
<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://jejucodingcafe-muffin.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock content %}

{% block js %}
{% endblock js %}