{% extends "main/base.html" %}
{% load static %}

{% block content %}
<article class="content-area">
    <header>
        <h1 class="content-area__title">오름 리스트</h1> 
    </header>
        {% for oreum in oreums %}
            <div class="oreum-list flex-row">
                {% if oreum.mainphoto %}
                    <img src="{{ oreum.mainphoto.url }}" class="oreum-list--mid" alt="오름 사진" width="450" />
                {% endif %}
                <a class="oreum-list__link" href="/list/{{oreum.pk}}">
                    <div class="oreum-list__info flex-col">
                        <div class="oreum-list__box flex-row">
                            <h2 class="oreum-list--title">{{oreum.name}}</h2>
                            <div class="flex-row">
                                <div class="oreum-list--tag oreum-list--level-tag">{{oreum.oreumlevel}}</div>
                                <div class="oreum-list--tag oreum-list--view-tag">{{oreum.nightview}}</div>
                            </div>
                        </div>
                        <div class="oreum-list__box flex-row">
                            <p>{{oreum.content}}</p>
                        </div>
                        <div class="oreum-list__box flex-row">
                            <img src="{% static 'icons/location.svg' %}" alt="오름 위치 지역" />
                            <span>{{oreum.location}}</span>
                        </div>
                        <div class="oreum-list__box flex-row">
                            <img src="{% static 'icons/phone.svg' %}" alt="전화번호" />
                            <span>{{oreum.phone}}</span>
                        </div>
                        <div class="oreum-list__box flex-row">
                            <img src="{% static 'icons/instagram.svg' %}" alt="인스타그램 URL" />
                            <span>{{oreum.insta}}</span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
</article>

{% endblock content %}