.content-area {
    padding: 3rem 0;
    margin: 0 auto;
    max-width: var(--max-width);
}

.content-area__title {
    margin-bottom: 2rem;
    font-size: var(--font-40);
    font-weight: var(--font-w-700);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}