.form-box {
    width: 50rem;
    margin-bottom: 2rem;
}

.form-box .form-radio-wrapper {
    width: 32rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.form-radio-wrapper .form-radio__label {
    cursor: pointer;
}

.form-box .form-box--label {
    width: 16.875rem;
    color: var(--color-pale-grey);
    font-size: var(--font-16);
    font-weight: var(--font-w-500);
}

.form-box .form-box--input {
    width: 18.875rem;
    height: 2.5rem;
    padding: 0 1rem;
    background-color: var(--color-placehoder);
    border-radius: 0.75rem;
}

.form-box .form-box--textarea {
    resize: none;
    padding: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--color-placehoder);
}

.submit-button {
    text-align: center;
}

.submit-button .submit-button--input {
    width: 15.625rem;
    height: 4rem;
    border-radius: 1rem;
    font-size: var(--font-20);
    background-color: var(--color-clear-orange);
    color: var(--color-white);
    cursor: pointer;
}

.submit-button .submit-button--input:hover {
    opacity: .8;
}
