:root {
    --max-width: 62.5rem;
    --gnb-height: 4rem;
    --color-lime: #6DD028;
    --color-orange: #FF8E14;
    --color-clear-orange : #FF6904;
    --color-white: #fff;
    --color-pale-grey: #BCBCBC;
    --color-grey: #222;
    --color-dark-grey: #191a1c;
    --color-placehoder: #EFF0F6;
    --color-transparent: transparent;
    --font-12: 0.75rem;
    --font-14: 0.875rem;
    --font-16: 1rem;
    --font-18: 1.125rem;
    --font-20: 1.25rem;
    --font-28: 1.75rem;
    --font-32: 2rem;
    --font-40: 2.5rem;
    --font-w-500: 500;
    --font-w-700: 700;
}