:root {
    --max-width: 62.5rem;
    --gnb-height: 4rem;
    --color-clear-orange : #FF6904;
    --color-white: #fff;
    --color-pale-gray: #bdbdbd;
    --color-gray: #222;
    --color-dark-gray: #191a1c;
    --color-transparent: transparent;
    --font-12: 0.75rem;
    --font-14: 0.875rem;
    --font-16: 1rem;
    --font-18: 1.125rem;
    --font-20: 1.25rem;
    --font-28: 1.75rem;
    --font-32: 2rem;
    --font-w-500: 500;
    --font-w-700: 700;
}